<mat-card>
  <form (submit) = "onAddPost(postForm)" #postForm ="ngForm">
    <mat-form-field>
      <input matInput placeholder="Enter the title" type="text" name="title" ngModel required minlength="3" #title ="ngModel">
      <mat-error *ngIf="title.invalid"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Enter the Content"  name = "content"ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid"></mat-error>
    </mat-form-field>
    <button mat-raised-button color='primary' type = "submit">Submit Post</button>
  </form>
</mat-card>

